#h1 {
    margin-top: 90px;
    text-align: center;
    font-size: 50px;
    color: blueviolet;
    margin-bottom: 60px;
    font-weight: bold;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}